<form id="{{id}}" data-subscribe-instance="{{instanceId}}">
  <label for="{{emailName}}"><em>Email Address</em>
    <input id="mailing_list_entry_email" name="{{emailName}}" type="email" required />
  </label>
  <br />
  <ul class="actions">
    <li>
      <input class="action save" type="submit" name="submit" value="{{submitText}}" />
    </li>
  </ul>
</form>