<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <!-- meta http-equiv="X-UA-Compatible" content="IE=#" / -->

  {{> solidus-metadata/tags }}
  {{> jungle-solidus/defaults/styles }}
  {{> jungle-solidus/defaults/variables }}
  {{> jungle-solidus/defaults/integrations_head }}
  {{> jungle-solidus/defaults/scripts }}

  {{# each feeds }}
    <link rel="alternate" type="application/atom+xml" title="{{ title }}" href="{{ url }}" />
  {{/ each }}

  <meta property="og:site_name" content="{{{ site.name }}}" />
  <meta property="og:url" content="{{{ url.href }}}" />

  {{# if development }}
    <meta name="robots" content="noindex" />
  {{/ if }}

</head>

<body id="page-{{ page.name }}" class="{{# if page.section }}section-{{ page.section }}{{/ if }} {{ parameters.topic }} {{ parameters.tag }}">

  {{> jungle-solidus/defaults/integrations_body }}

  <div class="user">
    <div class="member">
      {{{ body }}}
    </div>
  </div>

</body>
</html>